.wrapper {
  width: 100%;
  margin: 30px 20px;
}

.profileImg {
  width: 32px;
  height: 32px;
  border: 50%;
  object-fit: cover;
}

.postTop {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.userName {
  font-size: 15px;
  font-weight: 550;
  margin-left: 5px;
}

.postDate {
  font-size: 15px;
  font-weight: 550;
  margin-left: 10px;
}

.postTopRight {
  margin: 20px 0;
}

.postCenter {
  margin: 20px 0;
}

.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.moreVert{
    margin-right: 70px;
    cursor: pointer;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;
}

.likeIcon{
    width: 24px;
    height: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter{
    font-size: 15px;
    font-weight: 550;
}

.postCommentText{
  padding-right: 100px;
    cursor: pointer;
  
}
