.login {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
  }
  
  .loginLeft,
  .loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .lodinLogo {
    font-size: 50px;
    font-size: 800;
    color: blueviolet;
  }
  
  .loginDesc {
    font-size: 24px;
  }
  
  .loginBox {
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .loginInput {
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 20px;
    margin-bottom: 15px;
  }
  
  .loginInput:focus {
    outline: none;
  }
  
  .loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
  }
  

  .loginRegisterButton{
      height: 50px;
      width: 60%;
      align-self: center;
      border-radius: 10px;
      border: none;
      background-color: green;
      color: white;
      font-weight: 500;
      font-size: 18px;
      cursor: pointer;
      margin-top: 15px;
  }
  
  .loginTitle{
      text-align: center;
      font-weight: 550;
      font-size: 20px;
      margin-bottom: 5px;
  }
  